@use "../variables.scss" as utils;

.task-card {
  min-width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: thin solid var(--color-grey-800);
  border-radius: 8px;

  & > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 8px;
  }
}

.task {
  width: 345px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-grey-200);
  border-radius: 8px;

  @include utils.mq("sm") {
    width: 300px;
  }

  & > span {
    font-size: 1.15rem;
    font-weight: bold;
  }

  & > div {
    display: grid;
    grid-template-columns: minmax(0, max-content) 1fr 2fr;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;

    & > span {
      justify-self: end;
      color: var(--color-grey-1000);
    }
  }
}
